---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<ul class="tags">
  {% for tag in page.tags %}
    <li><a href="{{ site.baseurl }}/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
  {% endfor %}
</ul>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    <svg class="icon-calendar"></svg>
    {{ page.date | date_to_string }}
    {% if author %} | Written by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>{% endif %}
    </span>
  {{ content }}


</div>

